# Importing the librairies 
* Only basics are necessary for connecting and injecting to mySQL WorkBench

In [2]:
import pandas as pd
from sqlalchemy import create_engine

## Creating a connector to MySQLWorkBench 
### DB already created in the client

In [75]:
#Avec une BDD MySQL
conn = create_engine("mysql+mysqlconnector://root:admin@localhost:3306/World_Cup_BDD",echo=True)
conn.connect()

2022-10-06 22:31:31,225 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-06 22:31:31,226 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:31,230 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-06 22:31:31,231 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:31,233 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-06 22:31:31,234 INFO sqlalchemy.engine.Engine [raw sql] {}

### Importing the "complete" cleaned CSV file , this is not be the same used in the model 
* In the model we labelEncode the countries names and remove home/away team score

In [3]:
df = pd.read_csv('df_for_ML_countries_not_numeric.csv')
df.tail()

,date,home_team,away_team,home_team_fifa_rank,away_team_fifa_rank,home_team_score,away_team_score,tournament,shoot_out,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,result
9773,2022-06-12,Switzerland,Portugal,14,8,1,0,11,0,85.0,82.0,76.7,79.5,85.2,86.0,84.5,3
9774,2022-06-12,Slovenia,Serbia,65,25,2,2,11,0,91.0,80.0,77.0,76.2,75.8,80.3,81.8,2
9775,2022-06-13,France,Croatia,3,16,0,1,11,0,87.0,82.0,88.3,86.8,77.8,76.7,84.2,0
9776,2022-06-14,Netherlands,Wales,10,18,3,2,11,0,81.0,74.0,83.0,83.5,75.0,73.0,78.5,3
9777,2022-06-14,Poland,Belgium,26,2,0,1,11,0,87.0,89.0,84.7,75.8,80.8,85.7,85.5,0

# Making dataframe for each tables
* DF must correspond properly at the tables features according to the DB
* The indexes must matches also

In [4]:
df_home_team = df[[ 'home_team']]
df_away_team = df[['away_team']]

## Using the method "to_sql" to inject dataframe 
* Important to name the table in the parameters , the connectors and also 'replace' to not addition the same datas everytime the DB is update
* The order we inject datas in the DB is important according to the foreign keys ( for exemple if I want to inject the result table before the tournament I will get an error )

#### Home_team table

In [78]:
df_home_team.to_sql('home_team',conn, if_exists = 'replace', index=True)

2022-10-06 22:31:34,099 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:31:34,100 INFO sqlalchemy.engine.Engine [generated in 0.00126s] {'table_schema': 'world_cup_bdd', 'table_name': 'home_team'}
2022-10-06 22:31:34,105 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:31:34,106 INFO sqlalchemy.engine.Engine [cached since 0.007131s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'home_team'}
2022-10-06 22:31:34,109 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup_bdd`
2022-10-06 22:31:34,110 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:34,114 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `home_team`
2022-10-06 22:31:34,114 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:34,118 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-10-06 22:31:34,119 INFO sqlalchemy.engine.Engine [generated in 0.00115s] {'table_data_1_1': 'world_cup_bdd', 'table_data_1_2': 'results', 'table_data_1_3': 'ID_results'}
2022-10-06 22:31:34,123 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `results`
2022-10-06 22:31:34,123 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:34,129 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:34,131 INFO sqlalchemy.engine.Engine
DROP TABLE home_team
2022-10-06 22:31:34,132 INFO sqlalchemy.engine.Engine [no key 0.00168s] {}
2022-10-06 22:31:34,146 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:31:34,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:34,151 INFO sqlalchemy.engine.Engine
CREATE TABLE home_team (
	`index` BIGINT,
	home_team TEXT
)


2022-10-06 22:31:34,153 INFO sqlalchemy.engine.Engine [no key 0.00237s] {}
2022-10-06 22:31:34,171 INFO sqlalchemy.engine.Engine CREATE INDEX ix_home_team_index ON home_team (`index`)
2022-10-06 22:31:34,172 INFO sqlalchemy.engine.Engine [no key 0.00115s] {}
2022-10-06 22:31:34,187 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:31:34,193 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:34,232 INFO sqlalchemy.engine.Engine INSERT INTO home_team (`index`, home_team) VALUES (%(index)s, %(home_team)s)
2022-10-06 22:31:34,232 INFO sqlalchemy.engine.Engine [generated in 0.03042s] ({'index': 0, 'home_team': 'Brazil'}, {'index': 1, 'home_team': 'Ecuador'}, {'index': 2, 'home_team': 'Australia'}, {'index': 3, 'home_team': 'Uruguay'}, {'index': 4, 'home_team': 'Argentina'}, {'index': 5, 'home_team': 'Brazil'}, {'index': 6, 'home_team': 'Denmark'}, {'index': 7, 'home_team': 'Argentina'}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'home_team': 'Netherlands'}, {'index': 9777, 'home_team': 'Poland'})
2022-10-06 22:31:36,967 INFO sqlalchemy.engine.Engine COMMIT

9778

#### Away_team table

In [79]:
df_away_team.to_sql('away_team',conn, if_exists = 'replace', index=True)

2022-10-06 22:31:43,879 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:31:43,881 INFO sqlalchemy.engine.Engine [cached since 9.782s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'away_team'}
2022-10-06 22:31:43,886 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:31:43,887 INFO sqlalchemy.engine.Engine [cached since 9.788s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'away_team'}
2022-10-06 22:31:43,891 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup_bdd`
2022-10-06 22:31:43,892 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:43,895 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `away_team`
2022-10-06 22:31:43,896 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:43,899 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-10-06 22:31:43,900 INFO sqlalchemy.engine.Engine [cached since 9.782s ago] {'table_data_1_1': 'world_cup_bdd', 'table_data_1_2': 'results', 'table_data_1_3': 'ID_results'}
2022-10-06 22:31:43,903 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `results`
2022-10-06 22:31:43,904 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:31:43,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:43,912 INFO sqlalchemy.engine.Engine
DROP TABLE away_team
2022-10-06 22:31:43,913 INFO sqlalchemy.engine.Engine [no key 0.00130s] {}
2022-10-06 22:31:43,929 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:31:43,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:43,933 INFO sqlalchemy.engine.Engine
CREATE TABLE away_team (
	`index` BIGINT,
	away_team TEXT
)


2022-10-06 22:31:43,934 INFO sqlalchemy.engine.Engine [no key 0.00119s] {}
2022-10-06 22:31:43,954 INFO sqlalchemy.engine.Engine CREATE INDEX ix_away_team_index ON away_team (`index`)
2022-10-06 22:31:43,955 INFO sqlalchemy.engine.Engine [no key 0.00118s] {}
2022-10-06 22:31:43,973 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:31:43,976 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:31:44,015 INFO sqlalchemy.engine.Engine INSERT INTO away_team (`index`, away_team) VALUES (%(index)s, %(away_team)s)
2022-10-06 22:31:44,015 INFO sqlalchemy.engine.Engine [generated in 0.03175s] ({'index': 0, 'away_team': 'Mexico'}, {'index': 1, 'away_team': 'Venezuela'}, {'index': 2, 'away_team': 'Canada'}, {'index': 3, 'away_team': 'Brazil'}, {'index': 4, 'away_team': 'Peru'}, {'index': 5, 'away_team': 'Ecuador'}, {'index': 6, 'away_team': 'Lithuania'}, {'index': 7, 'away_team': 'Paraguay'}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'away_team': 'Wales'}, {'index': 9777, 'away_team': 'Belgium'})
2022-10-06 22:31:46,885 INFO sqlalchemy.engine.Engine COMMIT

9778

#### Tournament table

In [94]:
dftournament = df[[ 'tournament', 'home_team', 'away_team']]

In [95]:
dftournament.to_sql('tournaments',conn, if_exists = 'replace', index=True)

2022-10-06 22:57:34,381 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:57:34,382 INFO sqlalchemy.engine.Engine [cached since 1560s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'tournaments'}
2022-10-06 22:57:34,386 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:57:34,387 INFO sqlalchemy.engine.Engine [cached since 1560s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'tournaments'}
2022-10-06 22:57:34,392 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup_bdd`
2022-10-06 22:57:34,392 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:57:34,395 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `tournaments`
2022-10-06 22:57:34,396 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:57:34,400 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2022-10-06 22:57:34,401 INFO sqlalchemy.engine.Engine [cached since 1560s ago] {'table_data_1_1': 'world_cup_bdd', 'table_data_1_2': 'results', 'table_data_1_3': 'ID_results'}
2022-10-06 22:57:34,404 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `results`
2022-10-06 22:57:34,405 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:57:34,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:57:34,411 INFO sqlalchemy.engine.Engine
DROP TABLE tournaments
2022-10-06 22:57:34,412 INFO sqlalchemy.engine.Engine [no key 0.00097s] {}
2022-10-06 22:57:34,427 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:57:34,430 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:57:34,432 INFO sqlalchemy.engine.Engine
CREATE TABLE tournaments (
	`index` BIGINT,
	tournament BIGINT,
	home_team TEXT,
	away_team TEXT
)


2022-10-06 22:57:34,433 INFO sqlalchemy.engine.Engine [no key 0.00159s] {}
2022-10-06 22:57:34,455 INFO sqlalchemy.engine.Engine CREATE INDEX ix_tournaments_index ON tournaments (`index`)
2022-10-06 22:57:34,457 INFO sqlalchemy.engine.Engine [no key 0.00228s] {}
2022-10-06 22:57:34,474 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:57:34,480 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:57:34,539 INFO sqlalchemy.engine.Engine INSERT INTO tournaments (`index`, tournament, home_team, away_team) VALUES (%(index)s, %(tournament)s, %(home_team)s, %(away_team)s)
2022-10-06 22:57:34,540 INFO sqlalchemy.engine.Engine [generated in 0.04912s] ({'index': 0, 'tournament': 8, 'home_team': 'Brazil', 'away_team': 'Mexico'}, {'index': 1, 'tournament': 7, 'home_team': 'Ecuador', 'away_team': 'Venezuela'}, {'index': 2, 'tournament': 7, 'home_team': 'Australia', 'away_team': 'Canada'}, {'index': 3, 'tournament': 7, 'home_team': 'Uruguay', 'away_team': 'Brazil'}, {'index': 4, 'tournament': 7, 'home_team': 'Argentina', 'away_team': 'Peru'}, {'index': 5, 'tournament': 7, 'home_team': 'Brazil', 'away_team': 'Ecuador'}, {'index': 6, 'tournament': 7, 'home_team': 'Denmark', 'away_team': 'Lithuania'}, {'index': 7, 'tournament': 7, 'home_team': 'Argentina', 'away_team': 'Paraguay'}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'tournament': 11, 'home_team': 'Netherlands', 'away_team': 'Wales'}, {'index': 9777, 'tournament': 11, 'home_team': 'Poland', 'away_team': 'Belgium'})
2022-10-06 22:57:38,886 INFO sqlalchemy.engine.Engine COMMIT

9778

#### Result table

In [88]:
dfresult = df[[ 'home_team_fifa_rank', 'home_team_goalkeeper_score', 'home_team_mean_offense_score','home_team_mean_midfield_score',
                 'away_team_fifa_rank', 'away_team_goalkeeper_score', 'away_team_mean_defense_score', 'away_team_mean_midfield_score',
    
               'shoot_out', 'date', 'result']]

In [96]:
dfresult.to_sql('results',conn, if_exists = 'replace', index=True)

2022-10-06 22:58:32,532 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:58:32,533 INFO sqlalchemy.engine.Engine [cached since 1618s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'results'}
2022-10-06 22:58:32,538 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-06 22:58:32,539 INFO sqlalchemy.engine.Engine [cached since 1618s ago] {'table_schema': 'world_cup_bdd', 'table_name': 'results'}
2022-10-06 22:58:32,543 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup_bdd`
2022-10-06 22:58:32,544 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:58:32,547 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `results`
2022-10-06 22:58:32,548 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-06 22:58:32,553 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:58:32,554 INFO sqlalchemy.engine.Engine
DROP TABLE results
2022-10-06 22:58:32,555 INFO sqlalchemy.engine.Engine [no key 0.00118s] {}
2022-10-06 22:58:32,568 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:58:32,570 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:58:32,573 INFO sqlalchemy.engine.Engine
CREATE TABLE results (
	`index` BIGINT,
	home_team_fifa_rank BIGINT,
	home_team_goalkeeper_score FLOAT(53),
	home_team_mean_offense_score FLOAT(53),
	home_team_mean_midfield_score FLOAT(53),
	away_team_fifa_rank BIGINT,
	away_team_goalkeeper_score FLOAT(53),
	away_team_mean_defense_score FLOAT(53),
	away_team_mean_midfield_score FLOAT(53),
	shoot_out BIGINT,
	date TEXT,
	result BIGINT
)


2022-10-06 22:58:32,575 INFO sqlalchemy.engine.Engine [no key 0.00184s] {}
2022-10-06 22:58:32,598 INFO sqlalchemy.engine.Engine CREATE INDEX ix_results_index ON results (`index`)
2022-10-06 22:58:32,600 INFO sqlalchemy.engine.Engine [no key 0.00223s] {}
2022-10-06 22:58:32,622 INFO sqlalchemy.engine.Engine COMMIT
2022-10-06 22:58:32,629 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-06 22:58:32,748 INFO sqlalchemy.engine.Engine INSERT INTO results (`index`, home_team_fifa_rank, home_team_goalkeeper_score, home_team_mean_offense_score, home_team_mean_midfield_score, away_team_fifa_rank, away_team_goalkeeper_score, away_team_mean_defense_score, away_team_mean_midfield_score, shoot_out, date, result) VALUES (%(index)s, %(home_team_fifa_rank)s, %(home_team_goalkeeper_score)s, %(home_team_mean_offense_score)s, %(home_team_mean_midfield_score)s, %(away_team_fifa_rank)s, %(away_team_goalkeeper_score)s, %(away_team_mean_defense_score)s, %(away_team_mean_midfield_score)s, %(shoot_out)s, %(date)s, %(result)s)
2022-10-06 22:58:32,749 INFO sqlalchemy.engine.Engine [generated in 0.09618s] ({'index': 0, 'home_team_fifa_rank': 8, 'home_team_goalkeeper_score': 85.94186046511628, 'home_team_mean_offense_score': 86.53837209302326, 'home_team_mean_midfield_score': 85.35523255813953, 'away_team_fifa_rank': 14, 'away_team_goalkeeper_score': 79.24817518248175, 'away_team_mean_defense_score': 76.81313868613138, 'away_team_mean_midfield_score': 77.70875912408759, 'shoot_out': 0, 'date': '1993-08-08', 'result': 2}, {'index': 1, 'home_team_fifa_rank': 35, 'home_team_goalkeeper_score': 71.27551020408163, 'home_team_mean_offense_score': 75.41326530612245, 'home_team_mean_midfield_score': 75.04285714285714, 'away_team_fifa_rank': 94, 'away_team_goalkeeper_score': 67.31111111111112, 'away_team_mean_defense_score': 72.30571428571427, 'away_team_mean_midfield_score': 73.42380952380952, 'shoot_out': 0, 'date': '1993-08-08', 'result': 3}, {'index': 2, 'home_team_fifa_rank': 52, 'home_team_goalkeeper_score': 78.08870967741936, 'home_team_mean_offense_score': 74.71854838709677, 'home_team_mean_midfield_score': 74.06048387096774, 'away_team_fifa_rank': 46, 'away_team_goalkeeper_score': 71.72619047619048, 'away_team_mean_defense_score': 68.81071428571428, 'away_team_mean_midfield_score': 72.52738095238095, 'shoot_out': 1, 'date': '1993-08-15', 'result': 3}, {'index': 3, 'home_team_fifa_rank': 22, 'home_team_goalkeeper_score': 79.36842105263158, 'home_team_mean_offense_score': 83.72105263157896, 'home_team_mean_midfield_score': 78.3561403508772, 'away_team_fifa_rank': 8, 'away_team_goalkeeper_score': 86.37162162162163, 'away_team_mean_defense_score': 86.07702702702703, 'away_team_mean_midfield_score': 85.31216216216217, 'shoot_out': 0, 'date': '1993-08-15', 'result': 2}, {'index': 4, 'home_team_fifa_rank': 5, 'home_team_goalkeeper_score': 80.5, 'home_team_mean_offense_score': 88.28670886075949, 'home_team_mean_midfield_score': 84.1386075949367, 'away_team_fifa_rank': 70, 'away_team_goalkeeper_score': 69.5813953488372, 'away_team_mean_defense_score': 70.9938775510204, 'away_team_mean_midfield_score': 73.81363636363636, 'shoot_out': 0, 'date': '1993-08-22', 'result': 3}, {'index': 5, 'home_team_fifa_rank': 8, 'home_team_goalkeeper_score': 85.94186046511628, 'home_team_mean_offense_score': 86.53837209302326, 'home_team_mean_midfield_score': 85.35523255813953, 'away_team_fifa_rank': 35, 'away_team_goalkeeper_score': 71.59420289855072, 'away_team_mean_defense_score': 70.78187919463087, 'away_team_mean_midfield_score': 74.9695652173913, 'shoot_out': 0, 'date': '1993-08-22', 'result': 3}, {'index': 6, 'home_team_fifa_rank': 10, 'home_team_goalkeeper_score': 79.63235294117646, 'home_team_mean_offense_score': 77.24191176470588, 'home_team_mean_midfield_score': 78.81397058823529, 'away_team_fifa_rank': 84, 'away_team_goalkeeper_score': 72.16666666666667, 'away_team_mean_defense_score': 63.26363636363636, 'away_team_mean_midfield_score': 62.45, 'shoot_out': 0, 'date': '1993-08-25', 'result': 3}, {'index': 7, 'home_team_fifa_rank': 5, 'home_team_goalkeeper_score': 80.5, 'home_team_mean_offense_score': 88.28670886075949, 'home_team_mean_midfield_score': 84.1386075949367, 'away_team_fifa_rank': 67, 'away_team_goalkeeper_score': 74.171875, 'away_team_mean_defense_score': 75.0796875, 'away_team_mean_midfield_score': 74.45625, 'shoot_out': 0, 'date': '1993-08-29', 'result': 2}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'home_team_fifa_rank': 10, 'home_team_goalkeeper_score': 81.0, 'home_team_mean_offense_score': 83.0, 'home_team_mean_midfield_score': 83.5, 'away_team_fifa_rank': 18, 'away_team_goalkeeper_score': 74.0, 'away_team_mean_defense_score': 75.0, 'away_team_mean_midfield_score': 78.5, 'shoot_out': 0, 'date': '2022-06-14', 'result': 3}, {'index': 9777, 'home_team_fifa_rank': 26, 'home_team_goalkeeper_score': 87.0, 'home_team_mean_offense_score': 84.7, 'home_team_mean_midfield_score': 75.8, 'away_team_fifa_rank': 2, 'away_team_goalkeeper_score': 89.0, 'away_team_mean_defense_score': 80.8, 'away_team_mean_midfield_score': 85.5, 'shoot_out': 0, 'date': '2022-06-14', 'result': 0})
2022-10-06 22:58:36,120 INFO sqlalchemy.engine.Engine COMMIT

9778