## Insertion des données dans la BDD

In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Méthode 1: insertion des données Sans Pandas

In [11]:
#Avec une BDD MySQL
conn = create_engine("mysql+mysqlconnector://root:admin@localhost:3306/world_cup",echo=True)
conn.connect()

2022-10-08 13:11:25,891 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2022-10-08 13:11:25,892 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:25,895 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2022-10-08 13:11:25,896 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:25,898 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2022-10-08 13:11:25,900 INFO sqlalchemy.engine.Engine [raw sql] {}

In [12]:
df = pd.read_csv('df_for_ML_countries_not_numeric.csv')
df.tail()

,date,home_team,away_team,home_team_fifa_rank,away_team_fifa_rank,home_team_score,away_team_score,tournament,shoot_out,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score,result
9773,2022-06-12,Switzerland,Portugal,14,8,1,0,11,0,85.0,82.0,76.7,79.5,85.2,86.0,84.5,3
9774,2022-06-12,Slovenia,Serbia,65,25,2,2,11,0,91.0,80.0,77.0,76.2,75.8,80.3,81.8,2
9775,2022-06-13,France,Croatia,3,16,0,1,11,0,87.0,82.0,88.3,86.8,77.8,76.7,84.2,0
9776,2022-06-14,Netherlands,Wales,10,18,3,2,11,0,81.0,74.0,83.0,83.5,75.0,73.0,78.5,3
9777,2022-06-14,Poland,Belgium,26,2,0,1,11,0,87.0,89.0,84.7,75.8,80.8,85.7,85.5,0

## Table away_team
* Create DF for the this table

In [13]:

df_away_team = df[['away_team']]

In [14]:
# création de la table "away_team" 
sql_query = ''' DROP TABLE IF EXISTS away_team'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE away_team(
               id_team_away  INT NOT NULL,
               away_team_name  VARCHAR(45),
               PRIMARY KEY (id_team_away)
               )
'''
conn.execute(sql_query)

# Inject the datas into the table away
df_away_team.to_sql('away_team',conn, if_exists = 'replace', index=True)

2022-10-08 13:11:33,655 INFO sqlalchemy.engine.Engine  DROP TABLE IF EXISTS away_team
2022-10-08 13:11:33,656 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:33,660 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:33,662 INFO sqlalchemy.engine.Engine CREATE TABLE away_team(
               id_team_away  INT NOT NULL,
               away_team_name  VARCHAR(45),
               PRIMARY KEY (id_team_away)
               )

2022-10-08 13:11:33,663 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:33,684 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:33,692 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:33,694 INFO sqlalchemy.engine.Engine [generated in 0.00191s] {'table_schema': 'world_cup', 'table_name': 'away_team'}
2022-10-08 13:11:33,702 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:33,703 INFO sqlalchemy.engine.Engine [cached since 0.01045s ago] {'table_schema': 'world_cup', 'table_name': 'away_team'}
2022-10-08 13:11:33,706 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup`
2022-10-08 13:11:33,707 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:33,728 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `away_team`
2022-10-08 13:11:33,728 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:33,736 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:33,737 INFO sqlalchemy.engine.Engine
DROP TABLE away_team
2022-10-08 13:11:33,738 INFO sqlalchemy.engine.Engine [no key 0.00101s] {}
2022-10-08 13:11:33,750 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:33,752 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:33,754 INFO sqlalchemy.engine.Engine
CREATE TABLE away_team (
	`index` BIGINT,
	away_team TEXT
)


2022-10-08 13:11:33,755 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2022-10-08 13:11:33,773 INFO sqlalchemy.engine.Engine CREATE INDEX ix_away_team_index ON away_team (`index`)
2022-10-08 13:11:33,774 INFO sqlalchemy.engine.Engine [no key 0.00120s] {}
2022-10-08 13:11:33,790 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:33,796 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:33,833 INFO sqlalchemy.engine.Engine INSERT INTO away_team (`index`, away_team) VALUES (%(index)s, %(away_team)s)
2022-10-08 13:11:33,834 INFO sqlalchemy.engine.Engine [generated in 0.03012s] ({'index': 0, 'away_team': 'Mexico'}, {'index': 1, 'away_team': 'Venezuela'}, {'index': 2, 'away_team': 'Canada'}, {'index': 3, 'away_team': 'Brazil'}, {'index': 4, 'away_team': 'Peru'}, {'index': 5, 'away_team': 'Ecuador'}, {'index': 6, 'away_team': 'Lithuania'}, {'index': 7, 'away_team': 'Paraguay'}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'away_team': 'Wales'}, {'index': 9777, 'away_team': 'Belgium'})
2022-10-08 13:11:37,074 INFO sqlalchemy.engine.Engine COMMIT

9778

## Table home_team
* Create DF for the this table

In [15]:
# Select home_team
df_home_team = df[[ 'home_team']]
# création de la table "produit" 
sql_query = ''' DROP TABLE IF EXISTS home_team'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE home_team(
   id_home_team  INT NOT NULL,
   home_team_name  VARCHAR(45),
     
   PRIMARY KEY (id_home_team)
   )
'''
conn.execute(sql_query)

# Inject the datas into the table away
df_home_team.to_sql('home_team',conn, if_exists = 'replace', index=True)

2022-10-08 13:11:38,109 INFO sqlalchemy.engine.Engine  DROP TABLE IF EXISTS home_team
2022-10-08 13:11:38,110 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:38,114 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:38,116 INFO sqlalchemy.engine.Engine CREATE TABLE home_team(
   id_home_team  INT NOT NULL,
   home_team_name  VARCHAR(45),

   PRIMARY KEY (id_home_team)
   )

2022-10-08 13:11:38,117 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:38,134 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:38,139 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:38,140 INFO sqlalchemy.engine.Engine [cached since 4.448s ago] {'table_schema': 'world_cup', 'table_name': 'home_team'}
2022-10-08 13:11:38,144 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:38,145 INFO sqlalchemy.engine.Engine [cached since 4.453s ago] {'table_schema': 'world_cup', 'table_name': 'home_team'}
2022-10-08 13:11:38,148 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup`
2022-10-08 13:11:38,148 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:38,151 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `home_team`
2022-10-08 13:11:38,152 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:38,157 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:38,159 INFO sqlalchemy.engine.Engine
DROP TABLE home_team
2022-10-08 13:11:38,160 INFO sqlalchemy.engine.Engine [no key 0.00199s] {}
2022-10-08 13:11:38,171 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:38,173 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:38,175 INFO sqlalchemy.engine.Engine
CREATE TABLE home_team (
	`index` BIGINT,
	home_team TEXT
)


2022-10-08 13:11:38,176 INFO sqlalchemy.engine.Engine [no key 0.00139s] {}
2022-10-08 13:11:38,196 INFO sqlalchemy.engine.Engine CREATE INDEX ix_home_team_index ON home_team (`index`)
2022-10-08 13:11:38,197 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2022-10-08 13:11:38,212 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:38,216 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:38,291 INFO sqlalchemy.engine.Engine INSERT INTO home_team (`index`, home_team) VALUES (%(index)s, %(home_team)s)
2022-10-08 13:11:38,296 INFO sqlalchemy.engine.Engine [generated in 0.07004s] ({'index': 0, 'home_team': 'Brazil'}, {'index': 1, 'home_team': 'Ecuador'}, {'index': 2, 'home_team': 'Australia'}, {'index': 3, 'home_team': 'Uruguay'}, {'index': 4, 'home_team': 'Argentina'}, {'index': 5, 'home_team': 'Brazil'}, {'index': 6, 'home_team': 'Denmark'}, {'index': 7, 'home_team': 'Argentina'}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'home_team': 'Netherlands'}, {'index': 9777, 'home_team': 'Poland'})
2022-10-08 13:11:40,682 INFO sqlalchemy.engine.Engine COMMIT

9778

## Table tournaments
* Create DF for the this table

In [16]:
# Select tournament
dftournament = df[[ 'tournament']]
# création de la table "produit" 
sql_query = ''' DROP TABLE IF EXISTS tournaments'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE tournaments(
   id_tournaments  INT NOT NULL,
   tournament  INT(100),
   
     
   PRIMARY KEY (id_tournaments)
   )
'''
conn.execute(sql_query)

# Inject the datas into the table away
dftournament.to_sql('tournaments',conn, if_exists = 'replace', index=True)

2022-10-08 13:11:41,829 INFO sqlalchemy.engine.Engine  DROP TABLE IF EXISTS tournaments
2022-10-08 13:11:41,830 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:41,834 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:41,836 INFO sqlalchemy.engine.Engine CREATE TABLE tournaments(
   id_tournaments  INT NOT NULL,
   tournament  INT(100),


   PRIMARY KEY (id_tournaments)
   )

2022-10-08 13:11:41,837 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:41,854 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:41,857 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:41,858 INFO sqlalchemy.engine.Engine [cached since 8.166s ago] {'table_schema': 'world_cup', 'table_name': 'tournaments'}
2022-10-08 13:11:41,862 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:11:41,863 INFO sqlalchemy.engine.Engine [cached since 8.17s ago] {'table_schema': 'world_cup', 'table_name': 'tournaments'}
2022-10-08 13:11:41,866 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup`
2022-10-08 13:11:41,867 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:41,870 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `tournaments`
2022-10-08 13:11:41,871 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:11:41,875 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:41,877 INFO sqlalchemy.engine.Engine
DROP TABLE tournaments
2022-10-08 13:11:41,877 INFO sqlalchemy.engine.Engine [no key 0.00108s] {}
2022-10-08 13:11:41,889 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:41,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:41,893 INFO sqlalchemy.engine.Engine
CREATE TABLE tournaments (
	`index` BIGINT,
	tournament BIGINT
)


2022-10-08 13:11:41,894 INFO sqlalchemy.engine.Engine [no key 0.00116s] {}
2022-10-08 13:11:41,913 INFO sqlalchemy.engine.Engine CREATE INDEX ix_tournaments_index ON tournaments (`index`)
2022-10-08 13:11:41,914 INFO sqlalchemy.engine.Engine [no key 0.00126s] {}
2022-10-08 13:11:41,928 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:11:41,931 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:11:42,058 INFO sqlalchemy.engine.Engine INSERT INTO tournaments (`index`, tournament) VALUES (%(index)s, %(tournament)s)
2022-10-08 13:11:42,059 INFO sqlalchemy.engine.Engine [generated in 0.11176s] ({'index': 0, 'tournament': 8}, {'index': 1, 'tournament': 7}, {'index': 2, 'tournament': 7}, {'index': 3, 'tournament': 7}, {'index': 4, 'tournament': 7}, {'index': 5, 'tournament': 7}, {'index': 6, 'tournament': 7}, {'index': 7, 'tournament': 7}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'tournament': 11}, {'index': 9777, 'tournament': 11})
2022-10-08 13:11:44,384 INFO sqlalchemy.engine.Engine COMMIT

9778

In [ ]:
"""conn.execute('ALTER TABLE results ADD FOREIGN KEY (away_team_id) REFERENCES away_team (id_away_team);')

'''FOREIGN KEY (away_team_id) REFERENCES away_team (id_away_team),
FOREIGN KEY (home_team_id) REFERENCES home_team (id_home_team),
FOREIGN KEY (tournaments_id) REFERENCES tournaments (id_tournaments)'''
"""

## Table results
* Create DF for the this table

In [30]:
# Select result table 
dfresult = df[[ 'home_team_fifa_rank', 'home_team_goalkeeper_score', 'home_team_mean_offense_score','home_team_mean_midfield_score',
                 'away_team_fifa_rank', 'away_team_goalkeeper_score', 'away_team_mean_defense_score', 'away_team_mean_midfield_score',
    
               'shoot_out', 'date', 'result']]
# création de la table "produit" 
sql_query = ''' DROP TABLE IF EXISTS  results'''
conn.execute(sql_query)
sql_query = '''CREATE TABLE results(
   id_results  INT NOT NULL,
   home_team_fifa_rank BIGINT,
   home_team_goalkeeper_score DOUBLE,
   home_team_mean_offense_score DOUBLE, 
   home_team_mean_midfield_score DOUBLE,
   away_team_fifa_rank BIGINT,
   away_team_goalkeeper_score DOUBLE,
   away_team_mean_defense_score DOUBLE,
   away_team_mean_midfield_score DOUBLE,
   shoot_out BIGINT,
   date DATETIME,
   result INT,
     
   PRIMARY KEY (id_results)
   
   )
'''
conn.execute(sql_query)

# Inject the datas into the table results 
dfresult.to_sql('results',conn, if_exists = 'replace', index=True)

2022-10-08 13:29:13,267 INFO sqlalchemy.engine.Engine  DROP TABLE IF EXISTS  results
2022-10-08 13:29:13,268 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:29:13,272 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:29:13,274 INFO sqlalchemy.engine.Engine CREATE TABLE results(
   id_results  INT NOT NULL,
   home_team_fifa_rank BIGINT,
   home_team_goalkeeper_score DOUBLE,
   home_team_mean_offense_score DOUBLE,
   home_team_mean_midfield_score DOUBLE,
   away_team_fifa_rank BIGINT,
   away_team_goalkeeper_score DOUBLE,
   away_team_mean_defense_score DOUBLE,
   away_team_mean_midfield_score DOUBLE,
   shoot_out BIGINT,
   date DATETIME,
   result INT,

   PRIMARY KEY (id_results)

   )

2022-10-08 13:29:13,275 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:29:13,294 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:29:13,300 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:29:13,301 INFO sqlalchemy.engine.Engine [cached since 1060s ago] {'table_schema': 'world_cup', 'table_name': 'results'}
2022-10-08 13:29:13,305 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2022-10-08 13:29:13,306 INFO sqlalchemy.engine.Engine [cached since 1060s ago] {'table_schema': 'world_cup', 'table_name': 'results'}
2022-10-08 13:29:13,309 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `world_cup`
2022-10-08 13:29:13,310 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:29:13,316 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `results`
2022-10-08 13:29:13,317 INFO sqlalchemy.engine.Engine [raw sql] {}
2022-10-08 13:29:13,325 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:29:13,326 INFO sqlalchemy.engine.Engine
DROP TABLE results
2022-10-08 13:29:13,328 INFO sqlalchemy.engine.Engine [no key 0.00156s] {}
2022-10-08 13:29:13,364 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:29:13,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:29:13,370 INFO sqlalchemy.engine.Engine
CREATE TABLE results (
	`index` BIGINT,
	home_team_fifa_rank BIGINT,
	home_team_goalkeeper_score FLOAT(53),
	home_team_mean_offense_score FLOAT(53),
	home_team_mean_midfield_score FLOAT(53),
	away_team_fifa_rank BIGINT,
	away_team_goalkeeper_score FLOAT(53),
	away_team_mean_defense_score FLOAT(53),
	away_team_mean_midfield_score FLOAT(53),
	shoot_out BIGINT,
	date TEXT,
	result BIGINT
)


2022-10-08 13:29:13,371 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2022-10-08 13:29:13,391 INFO sqlalchemy.engine.Engine CREATE INDEX ix_results_index ON results (`index`)
2022-10-08 13:29:13,392 INFO sqlalchemy.engine.Engine [no key 0.00132s] {}
2022-10-08 13:29:13,408 INFO sqlalchemy.engine.Engine COMMIT
2022-10-08 13:29:13,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-10-08 13:29:13,652 INFO sqlalchemy.engine.Engine INSERT INTO results (`index`, home_team_fifa_rank, home_team_goalkeeper_score, home_team_mean_offense_score, home_team_mean_midfield_score, away_team_fifa_rank, away_team_goalkeeper_score, away_team_mean_defense_score, away_team_mean_midfield_score, shoot_out, date, result) VALUES (%(index)s, %(home_team_fifa_rank)s, %(home_team_goalkeeper_score)s, %(home_team_mean_offense_score)s, %(home_team_mean_midfield_score)s, %(away_team_fifa_rank)s, %(away_team_goalkeeper_score)s, %(away_team_mean_defense_score)s, %(away_team_mean_midfield_score)s, %(shoot_out)s, %(date)s, %(result)s)
2022-10-08 13:29:13,652 INFO sqlalchemy.engine.Engine [generated in 0.20596s] ({'index': 0, 'home_team_fifa_rank': 8, 'home_team_goalkeeper_score': 85.94186046511628, 'home_team_mean_offense_score': 86.53837209302326, 'home_team_mean_midfield_score': 85.35523255813953, 'away_team_fifa_rank': 14, 'away_team_goalkeeper_score': 79.24817518248175, 'away_team_mean_defense_score': 76.81313868613138, 'away_team_mean_midfield_score': 77.70875912408759, 'shoot_out': 0, 'date': '1993-08-08', 'result': 2}, {'index': 1, 'home_team_fifa_rank': 35, 'home_team_goalkeeper_score': 71.27551020408163, 'home_team_mean_offense_score': 75.41326530612245, 'home_team_mean_midfield_score': 75.04285714285714, 'away_team_fifa_rank': 94, 'away_team_goalkeeper_score': 67.31111111111112, 'away_team_mean_defense_score': 72.30571428571427, 'away_team_mean_midfield_score': 73.42380952380952, 'shoot_out': 0, 'date': '1993-08-08', 'result': 3}, {'index': 2, 'home_team_fifa_rank': 52, 'home_team_goalkeeper_score': 78.08870967741936, 'home_team_mean_offense_score': 74.71854838709677, 'home_team_mean_midfield_score': 74.06048387096774, 'away_team_fifa_rank': 46, 'away_team_goalkeeper_score': 71.72619047619048, 'away_team_mean_defense_score': 68.81071428571428, 'away_team_mean_midfield_score': 72.52738095238095, 'shoot_out': 1, 'date': '1993-08-15', 'result': 3}, {'index': 3, 'home_team_fifa_rank': 22, 'home_team_goalkeeper_score': 79.36842105263158, 'home_team_mean_offense_score': 83.72105263157896, 'home_team_mean_midfield_score': 78.3561403508772, 'away_team_fifa_rank': 8, 'away_team_goalkeeper_score': 86.37162162162163, 'away_team_mean_defense_score': 86.07702702702703, 'away_team_mean_midfield_score': 85.31216216216217, 'shoot_out': 0, 'date': '1993-08-15', 'result': 2}, {'index': 4, 'home_team_fifa_rank': 5, 'home_team_goalkeeper_score': 80.5, 'home_team_mean_offense_score': 88.28670886075949, 'home_team_mean_midfield_score': 84.1386075949367, 'away_team_fifa_rank': 70, 'away_team_goalkeeper_score': 69.5813953488372, 'away_team_mean_defense_score': 70.9938775510204, 'away_team_mean_midfield_score': 73.81363636363636, 'shoot_out': 0, 'date': '1993-08-22', 'result': 3}, {'index': 5, 'home_team_fifa_rank': 8, 'home_team_goalkeeper_score': 85.94186046511628, 'home_team_mean_offense_score': 86.53837209302326, 'home_team_mean_midfield_score': 85.35523255813953, 'away_team_fifa_rank': 35, 'away_team_goalkeeper_score': 71.59420289855072, 'away_team_mean_defense_score': 70.78187919463087, 'away_team_mean_midfield_score': 74.9695652173913, 'shoot_out': 0, 'date': '1993-08-22', 'result': 3}, {'index': 6, 'home_team_fifa_rank': 10, 'home_team_goalkeeper_score': 79.63235294117646, 'home_team_mean_offense_score': 77.24191176470588, 'home_team_mean_midfield_score': 78.81397058823529, 'away_team_fifa_rank': 84, 'away_team_goalkeeper_score': 72.16666666666667, 'away_team_mean_defense_score': 63.26363636363636, 'away_team_mean_midfield_score': 62.45, 'shoot_out': 0, 'date': '1993-08-25', 'result': 3}, {'index': 7, 'home_team_fifa_rank': 5, 'home_team_goalkeeper_score': 80.5, 'home_team_mean_offense_score': 88.28670886075949, 'home_team_mean_midfield_score': 84.1386075949367, 'away_team_fifa_rank': 67, 'away_team_goalkeeper_score': 74.171875, 'away_team_mean_defense_score': 75.0796875, 'away_team_mean_midfield_score': 74.45625, 'shoot_out': 0, 'date': '1993-08-29', 'result': 2}  ... displaying 10 of 9778 total bound parameter sets ...  {'index': 9776, 'home_team_fifa_rank': 10, 'home_team_goalkeeper_score': 81.0, 'home_team_mean_offense_score': 83.0, 'home_team_mean_midfield_score': 83.5, 'away_team_fifa_rank': 18, 'away_team_goalkeeper_score': 74.0, 'away_team_mean_defense_score': 75.0, 'away_team_mean_midfield_score': 78.5, 'shoot_out': 0, 'date': '2022-06-14', 'result': 3}, {'index': 9777, 'home_team_fifa_rank': 26, 'home_team_goalkeeper_score': 87.0, 'home_team_mean_offense_score': 84.7, 'home_team_mean_midfield_score': 75.8, 'away_team_fifa_rank': 2, 'away_team_goalkeeper_score': 89.0, 'away_team_mean_defense_score': 80.8, 'away_team_mean_midfield_score': 85.5, 'shoot_out': 0, 'date': '2022-06-14', 'result': 0})
2022-10-08 13:29:16,865 INFO sqlalchemy.engine.Engine COMMIT

9778

### Méthode 2: insertion des données avec Pandas

In [ ]:
#Avec une BDD MySQL
conn = create_engine("mysql+mysqlconnector://root:"+'root'+"@localhost:3306/bdd",echo=True)
conn.connect()

In [ ]:
#avec une BDD Postgesql
conn = create_engine('postgresql+psycopg2://postgres:root@localhost:5432/bdd')

In [ ]:
df_category.to_sql(con=conn, name='category', if_exists='replace', index=False)

with conn.connect() as con:
    con.execute('ALTER TABLE bdd.public.category ADD PRIMARY KEY (id_category);')

In [ ]:
df_produit.to_sql(con=conn, name='produit', if_exists='replace', index=False)

with conn.connect() as con:
    con.execute('ALTER TABLE bien ADD PRIMARY KEY (id_produit);')
    con.execute('ALTER TABLE bien ADD FOREIGN KEY (category_id) REFERENCES category (id_category);')